@mixin light-theme() {
  // Primary and secondary color variations.
  $primary-color: #3300FF;
  $primary-color-hover: #3300FF;
  $secondary-color: #E30053;
  $secondary-color-hover: #E30053;

  // Background colors.
  $background-color-primary: #FFFFFF;
  $background-color-secondary: #F4F5F7;
  $background-color-card: #FFFFFF;
  $background-color-button-primary: #231D3C;
  $background-color-button-primary-hover: #231D3C;
  $background-color-navbar: #FFFFFF; /* TODO: Fill out */

  // Text colors.
  $text-color-emphasis: #231D3C;
  $text-color-primary: #534F61;
  $text-color-secondary: #717077;

  // Misc colors.
  $border-color-card: #EBE7FF;
  $divider-color: #FFFFFF;

  // Shadows.
  $shadow-image-large: 0 12px 30px rgb(106 106 106 / 20%);
  $shadow-image-medium: 0 10px 25px rgb(106 106 106 / 20%);
  $shadow-card-large: 0 8px 20px rgb(106 106 106 / 20%);
  $shadow-card-large-hover: 0 8px 20px rgb(106 106 106 / 20%);
  $shadow-card-large-active: 0 8px 20px rgb(106 106 106 / 20%);
  $shadow-card-medium: 0 6px 15px rgb(106 106 106 / 20%);
  $shadow-card-medium-hover: 0 6px 15px rgb(106 106 106 / 20%);
  $shadow-card-medium-focus: 0 6px 15px rgb(106 106 106 / 20%);
  $shadow-button: 0 6px 15px rgb(106 106 106 / 20%);
  $shadow-button-hover: 0 6px 15px rgb(106 106 106 / 20%);
  $shadow-button-active: 0 6px 15px rgb(106 106 106 / 20%);
  $shadow-toggle: inset 0 4px 10px rgb(106 106 106 / 20%);
}

@mixin dark-theme() {
  // Primary and secondary color variations.
  $primary-color: #B495FF;
  $primary-color-hover: #B495FF;
  $secondary-color: #F38AA8;
  $secondary-color-hover: #F38AA8;

  // Background colors.
  $background-color-primary: #151125;
  $background-color-card: #211D30;
  $background-color-button-primary: #211D30;
  $background-color-button-primary-hover: #211D30;
  $background-color-toggle: #444151;
  $background-color-navbar: #151125; /* TODO: Fill out */

  // Text colors.
  $text-color-emphasis: #FBFAFF;
  $text-color-primary: #B9B7C0;
  $text-color-secondary: #8B8894;

  // Misc colors.
  $border-color-card: #2C283A;
  $divider-color: #2C283A;

  // Shadows.
  $shadow-image-large: none;
  $shadow-image-medium: none;
  $shadow-card-large: none;
  $shadow-card-large-hover: none;
  $shadow-card-large-active: none;
  $shadow-card-medium: none;
  $shadow-card-medium-hover: none;
  $shadow-card-medium-focus: none;
  $shadow-button: none;
  $shadow-button-hover: none;
  $shadow-button-active: none;
  $shadow-toggle: inset 0 4px 10px rgb(21 17 37 / 40%);
}

@mixin desktop() {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin desktopWide() {
  @media screen and (min-width: $breakpoint-desktop-wide) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin resetList() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin resetButton() {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

@mixin uppercase() {
  color: $text-color-secondary;
  font-size: $font-size-tertiary;
  font-weight: $font-weight-bold;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  @include desktop() {
    font-size: $font-size-tertiary-desktop;
  }
}

@mixin header() {
  color: $text-color-emphasis;
  font-family: $header-font;
  font-size: $font-size-heading;
  font-weight: $font-weight-black;
  letter-spacing: -0.05em;
  line-height: $line-height-heading;

  @include desktop() {
    font-size: $font-size-heading-desktop;
  }
}

@mixin subheader() {
  @include header();
  color: $text-color-primary;
  font-family: $primary-font;
  font-weight: $font-weight-regular;
  letter-spacing: 0em;
  line-height: $line-height-sub-title;
  max-width: 500px;
  text-align: center;
}

@mixin title() {
  @include header();
  font-size: $font-size-title;
  line-height: $line-height-title;
  text-align: center;

  @include desktop() {
    font-size: $font-size-title-desktop;
  }

  @include desktopWide() {
    font-size: $font-size-title-desktop-wide;
  }
}

@mixin normalText() {
  color: $text-color-primary;
  font-size: $font-size-primary;
  line-height: $line-height-text;
  max-width: $max-width-text;

  @include desktop() {
    font-size: $font-size-primary-desktop;
    max-width: $max-width-text-desktop;
  }
}

@mixin footer() {
  color: $text-color-primary;
  font-size: $font-size-secondary;
  font-weight: $font-weight-regular;
  line-height: $line-height-text;
  max-width: $max-width-text;

  a {
    font-variation-settings: $mono;
  }

  @include desktop() {
    font-size: $font-size-secondary-desktop;
    max-width: $max-width-text-desktop;
  }
}

@mixin italicText() {
  font-variation-settings: $sans-italic;
}

@mixin casualItalicText() {
  font-variation-settings: $sans-casual-italic;
}

@mixin sectionPadding() {
  padding: $spacer-large 0;

  @include desktop() {
    padding: $spacer-very-large 0;
  }
}

@mixin contentPadding() {
  padding-left: $spacer-large;
  padding-right: $spacer-large;
}

@mixin negativeContentMargin() {
  margin-left: -$spacer-large;
  margin-right: -$spacer-large;
}

@mixin divider() {
  background-color: $divider-color;
  border-radius: $border-radius-regular;
  height: 2px;
  width: 100%;
}

@mixin card($shadow-size, $shadow-size-hover, $shadow-size-active) {
  align-items: center;
  background-color: $background-color-card;
  border: 1px solid $border-color-card;
  border-radius: $border-radius-regular;
  box-shadow: $shadow-size;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: $spacer-small-plus;
  transition: all $animation-duration ease;

  &:active {
    box-shadow: $shadow-size-hover;
  }

  @include desktop() {
    box-shadow: $shadow-size;
    padding: $spacer-medium;

    &:hover {
      box-shadow: $shadow-size-hover;
      transform: translateY(-5px);
    }

    &:active {
      box-shadow: $shadow-size-active;
    }
  }
}
