// Primary and secondary color variations.
$primary-color: #3300FF;
$primary-color-hover: #3300FF;
$secondary-color: #E30053;
$secondary-color-hover: #E30053;

// Background colors.
$background-color-primary: #FFFFFF;
$background-color-secondary: #F4F5F7;
$background-color-card: #FFFFFF;
$background-color-wilfo-blog: #F2CBD4;
$background-color-portfolio-2: #DAD3F5;
$background-color-revmatologen: #C1DBDB;
$background-color-info-box-portfolio-2: #EBE5FF;
$background-color-info-box-wilfo-blog: #FDDEE5;
$background-color-info-box-revmatologen: #E0EDED;
$background-color-button-primary: #231D3C;
$background-color-button-primary-hover: #231D3C;
$background-color-navbar: rgb(255 255 255 / 70%);

// Text colors.
$text-color-emphasis: #231D3C;
$text-color-button: #FBFAFF;
$text-color-primary: #534F61;
$text-color-secondary: #717077;

// Project colors.
$project-color-wilfo-blog: #EC0035;
$project-color-portfolio-2: #3300FF;
$project-color-revmatologen: #006C6D;
$project-color-haugesund: #0026B6;
$project-color-clean-list: #003CE4;
$project-color-portfolio: #FF6363;

// Misc colors.
$border-color-card: #EBE7FF;
$divider-color: #E1E1E1;
$timeline-color: #EAEAEA;

// Shadows.
$shadow-image-large: 0 12px 30px rgb(106 106 106 / 20%);
$shadow-image-medium: 0 10px 25px rgb(106 106 106 / 20%);
$shadow-image-portfolio-medium: 0 6px 15px rgb(51 0 255 / 10%);
$shadow-image-portfolio-large: 0 10px 25px rgb(51 0 255 / 10%);
$shadow-image-wilfo-medium: 0 6px 15px rgb(236 0 53 / 10%);
$shadow-image-wilfo-large: 0 10px 25px rgb(236 0 53 / 10%);
$shadow-image-revmatologen-medium: 0 6px 15px rgb(0 108 109 / 15%);
$shadow-image-revmatologen-large: 0 10px 25px rgb(0 108 109 / 15%);
$shadow-card-large: 0 6px 15px rgb(106 106 106 / 15%);
$shadow-card-large-hover: 0 10px 25px rgb(106 106 106 / 30%);
$shadow-card-large-active: 0 0px 0px rgb(106 106 106 / 20%);
$shadow-card-medium: 0 6px 15px rgb(106 106 106 / 20%);
$shadow-card-medium-hover: 0 10px 25px rgb(106 106 106 / 40%);
$shadow-card-medium-active: 0 0px 0px rgb(106 106 106 / 20%);
$shadow-button: 0 6px 15px rgb(106 106 106 / 20%);
$shadow-button-hover: 0 6px 15px rgb(106 106 106 / 20%);
$shadow-button-active: 0 6px 15px rgb(106 106 106 / 20%);
$shadow-toggle: inset 0 4px 10px rgb(106 106 106 / 20%);
$shadow-circle: 0 4px 10px rgb(106 106 106 / 20%);

// Borders.
$image-border: 4px solid #A9AAB7;

// Max widths.
$max-width: 1500px;
$max-width-nav-menu: 1200px;
$max-width-card-content: 260px;
$max-width-card-content-desktop: 300px;
$max-width-text: 500px;
$max-width-text-desktop: 750px;
$max-width-timeline-text: 600px;
$max-width-description: 480px;
$max-width-title: 500px;
$max-width-title-desktop: 800px;
$max-width-header: 500px;
$max-width-header-desktop: $max-width;
$max-width-subheader: 500px;
$max-width-subheader-desktop: 500px;
$max-width-subheader-wider: 1000px;
$max-width-button: 500px;
$max-width-card: 400px;
$max-width-social-card: 250px;

// Widhts.
$page-width: 90%;
$navbar-width: 90%;
$page-width-desktop: 80%;

// Misc.
$img-height-card: 350px;
$background-blur: 8px;
$animation-duration: 0.3s;
$point-gap: 6rem;
$point-gap-desktop: 8rem;

// Border radii.
$border-radius-regular: 20px;
$border-radius-inside-card: 12px;
$border-radius-round: 50%;

// Font families.
$header-font: "Open Sauce Sans", sans-serif;
$primary-font: "Recursive", sans-serif;
$mono-font: "Space Mono", monospace;

// Font weights.
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// Font variations.
$sans-casual: "MONO" 0, "CASL" 1, "wght" $font-weight-regular, "slnt" 0, "CRSV" 0.5;
$sans-casual-italic: "MONO" 0, "CASL" 1, "wght" $font-weight-regular, "slnt" -15, "CRSV" 0.5;
$sans-italic: "MONO" 0, "CASL" 0, "wght" $font-weight-regular, "slnt" -15, "CRSV" 0.5;
$sans-casual-bold: "MONO" 0, "CASL" 1, "wght" $font-weight-bold, "slnt" 0, "CRSV" 0.5;
$sans-bold: "MONO" 0, "CASL" 0, "wght" $font-weight-bold, "slnt" 0, "CRSV" 0.5;
$sans-black: "MONO" 0, "CASL" 0, "wght" $font-weight-black, "slnt" 0, "CRSV" 0.5;
$mono: "MONO" 1, "CASL" 0, "wght" $font-weight-regular, "slnt" 0, "CRSV" 0.5;
$mono-bold: "MONO" 1, "CASL" 0, "wght" $font-weight-bold, "slnt" 0, "CRSV" 0.5;
$mono-black: "MONO" 1, "CASL" 0, "wght" $font-weight-black, "slnt" 0, "CRSV" 0.5;

// Mobile font sizes.
$font-size-title: 4rem;
$font-size-heading: 1.875rem;
$font-size-heading-medium: 1.5rem;
$font-size-primary: 1.125rem;
$font-size-secondary: 0.875rem;
$font-size-tertiary: 0.75rem;

// Desktop font sizes.
$font-size-title-desktop-wide: 8.75rem;
$font-size-title-desktop: 6rem;
$font-size-heading-desktop: 3rem;
$font-size-heading-medium-desktop: 2rem;
$font-size-primary-desktop: 1.375rem;
$font-size-secondary-desktop: 1.125rem;
$font-size-tertiary-desktop: 0.875rem;

// Line heights.
$line-height-title: 1;
$line-height-sub-title: 1.2;
$line-height-heading: 1;
$line-height-text: 1.5;

// Letter spacing
$letter-spacing-title: -0.05em;
$letter-spacing-header: -0.05em;
$letter-spacing-uppercase: 0.15em;

// Spacers
$spacer-mini: 0.25rem;
$spacer-very-small: 0.5rem;
$spacer-very-small-plus: 0.75rem;
$spacer-small: 1rem;
$spacer-small-plus: 1.5rem;
$spacer-medium: 2rem;
$spacer-medium-plus: 3rem;
$spacer-large: 4rem;
$spacer-large-plus: 6rem;
$spacer-very-large: 8rem;
$spacer-very-large-plus: 12rem;

// Break points.
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-wide: 1450px;
