:root {
  /* The default theme. */
  @include light-theme;
}

[data-theme="dark"] {
  /* The dark theme. */
  @include dark-theme;
}

html,
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
}

p, a {
  font-family: $primary-font;
}

a {
  color: inherit;
  font-variation-settings: $mono-bold;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: $header-font;
}

h1, h2, h3, h4, h6, p {
  font-variation-settings: $sans;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  background-color: $primary-color !important;
}

// Recursive.
@font-face {
  font-display: swap;
  font-family: "Recursive";
  font-weight: 300 1000;
  src: url("/fonts/recursive/Recursive_VF_1.078.woff2") format("woff2");
}

// Open Sauce Sans Bold.
@font-face {
  font-display: swap;
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/open-sauce-sans/OpenSauceSans-Bold.ttf") format("truetype");
}

// Open Sauce Sans Extra Bold.
@font-face {
  font-display: swap;
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/open-sauce-sans/OpenSauceSans-ExtraBold.ttf") format("truetype");
}

// Open Sauce Sans Black.
@font-face {
  font-display: swap;
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/open-sauce-sans/OpenSauceSans-Black.ttf") format("truetype");
}
