.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  @include sectionPadding();
}

.container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: $max-width;
  width: 100%;

  @include desktop() {
    align-items: stretch;
    width: $page-width-desktop;
    @include contentPadding();
  }
}

.projectInfoContainer {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: $spacer-large;
  width: $page-width;

  @include desktop() {
    margin-bottom: $spacer-large-plus;
  }
}

.date {
  @include uppercase();
  color: $text-color-primary;
  margin-bottom: $spacer-mini;

  @include desktop() {
    margin-bottom: $spacer-very-small;
  }
}

.uppercase {
  @include uppercase();
  color: $text-color-primary;
}

.metaContainer {
  display: flex;
  flex-flow: row wrap;
  gap: $spacer-medium;
  margin-bottom: $spacer-medium-plus;
  margin-top: $spacer-medium;

  @include desktop() {
    gap: $spacer-medium-plus;
    margin-bottom: $spacer-large;
  }
}

.descriptionContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-medium;
}

.projectDescription {
  @include normalText();
}

.metaContainerItem {
  p {
    margin-bottom: $spacer-very-small-plus;
  }
}

.list {
  @include resetList();
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-small;
}

.listItem {
  color: $text-color-emphasis;
  font-family: $primary-font;
  font-size: $font-size-secondary;
  font-variation-settings: $mono;
  font-weight: $font-weight-regular;
  line-height: $line-height-heading;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

.imageGrid {
  display: none;
  gap: $spacer-medium;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;

  @include desktop() {
    display: grid;
  }
}

.imageContainer {
  border-radius: $border-radius-regular;
  box-shadow: $shadow-image-medium;
  height: 600px;
  overflow: hidden;
  position: relative;
  width: auto;

  @include desktopWide() {
    height: 800px;
  }
}

.imageContainer:first-child {
  grid-column: span 6;
}

.imageContainer:nth-child(2) {
  grid-column: span 4;

  @include desktopWide() {
    grid-column: span 2;
  }
}

.imageContainer:nth-child(3) {
  grid-column: span 2;
}

.imageContainer:nth-child(4) {
  grid-column: span 3;

  @include desktopWide() {
    grid-column: span 2;
  }
}

.imageContainer:nth-child(5) {
  grid-column: span 3;

  @include desktopWide() {
    grid-column: span 2;
  }
}

.imageContainer:nth-child(6) {
  grid-column: span 6;

  @include desktopWide() {
    grid-column: span 4;
  }
}

.swiper {
  @include desktop() {
    display: none;
  }
  width: 100%;
}

.imageSlide {
  align-items: center;
  border-radius: $border-radius-regular;
  box-shadow: $shadow-image-medium;
  display: flex;
  height: 250px;
  justify-content: center;
  margin: auto;
  margin-bottom: 48px;
  overflow: hidden;
  position: relative;
  width: $page-width;

  @include tablet() {
    height: 400px;
  }
}

.wilfoBlog {
  background-color: $background-color-wilfo-blog;
}

.portfolio2 {
  background-color: $background-color-portfolio-2;
}

.revmatologen {
  background-color: $background-color-revmatologen;
}
