.wrapper {
  align-items: center;
  background-color: $background-color-primary;
  display: flex;
  justify-content: center;
  @include sectionPadding();
}

.container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: $max-width;
  width: $page-width;
}

.secondary {
  background-color: $background-color-secondary;
}

.noPadding {
  padding: 0;
}
