.link {
  align-items: center;
  display: flex;
  font-size: $font-size-primary;
  font-weight: $font-weight-bold;

  @include desktop() {
    font-size: $font-size-primary-desktop;
  }

  .marginRight {
    margin-right: $spacer-very-small-plus;
  }

  .icon {
    height: $font-size-primary;
    stroke: $text-color-emphasis;
    stroke-width: 4;
    width: $font-size-primary;

    @include desktop() {
      height: $font-size-primary-desktop;
      width: $font-size-primary-desktop;
    }
  }
}

.footer {

  .marginRight {
    margin-right: $spacer-very-small;
  }

  .icon {
    height: $font-size-secondary;
    stroke: $text-color-primary;
    stroke-width: 3;
    width: $font-size-secondary;

    @include desktop() {
      height: $font-size-secondary-desktop;
      width: $font-size-secondary-desktop;
    }
  }
}

.large {
  @include header($max-width-header, $max-width-header-desktop);

  .marginRight {
    margin-right: $spacer-small;

    @include desktop() {
      margin-right: $spacer-medium;
    }
  }

  .icon {
    height: $font-size-heading;
    stroke: $text-color-emphasis;
    width: $font-size-heading;

    @include desktop() {
      height: $font-size-heading-desktop;
      width: $font-size-heading-desktop;
    }
  }
}

.button {
  stroke: $text-color-button;
}
