.container {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-very-small;
  width: 100%;

  @include desktop() {
    gap: $spacer-small;
  }
}

.data {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  @include footer();
}

.title {
  @include uppercase();
}

.icon {
  flex-shrink: 0;
  margin-right: $spacer-very-small;

  @include desktop() {
    margin-right: $spacer-very-small-plus;
  }
}

.songData {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.songName {
  -webkit-box-orient: vertical;
  color: $text-color-emphasis;
  display: -webkit-box;
  font-variation-settings: $sans-bold;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.artists {
  color: $text-color-secondary;

  @include desktop() {
    font-size: $font-size-tertiary-desktop;
  }
}

.songNameSkeleton, .artistsSkeleton {
  background-color: $skeleton-color;
  border-radius: $border-radius-regular;
}

.songNameSkeleton {
  @include skeletonLoading();
  height: $font-size-secondary;
  margin-bottom: $spacer-small;
  max-width: 300px;

  @include desktop() {
    height: $font-size-secondary-desktop;
  }
}

.artistsSkeleton {
  @include skeletonLoading();
  height: $font-size-tertiary;
  max-width: 200px;

  @include desktop() {
    height: $font-size-tertiary-desktop;
  }
}
