.card {
  @include card($shadow-card-medium, $shadow-card-medium-hover, $shadow-card-medium-active);
  padding: $spacer-small-plus $spacer-medium;
  text-align: center;

  @include desktop() {
    padding: $spacer-medium $spacer-medium-plus;
  }
}

.icon {
  height: $font-size-heading;
  margin-bottom: $spacer-small;
  stroke: $text-color-emphasis;
  stroke-width: 2;
  width: $font-size-heading;

  @include desktop() {
    height: $font-size-heading-desktop;
    width: $font-size-heading-desktop;
  }
}

.title {
  color: $text-color-emphasis;
  font-size: $font-size-primary;
  font-variation-settings: $mono;
  font-weight: $font-weight-regular;
  line-height: $line-height-sub-title;
}
