.titleContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: $spacer-large;

  @include desktop() {
    margin-bottom: $spacer-very-large;
  }
}

.tag {
  @include uppercase();
  margin-bottom: $spacer-very-small;
  text-align: center;
}

.title {
  @include title();
}
