.wrapper {
  @include navbarMargin();
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  @include desktop() {
    @include contentPadding();
  }
}

.imageContainer {
  border-radius: $border-radius-regular;
  grid-area: image;
  height: 400px;
  margin-bottom: $spacer-large;
  max-width: 1000px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include desktop() {
    height: 650px;
    margin-bottom: $spacer-very-large;
  }
}

.listContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-medium;

  @include desktop() {
    gap: $spacer-large;
  }
}
